html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.questrial {
    font-family: "Questrial", sans-serif;
    text-align: justify;
    margin-bottom: 10%;
}

header {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding: 1px 40px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    opacity: 0.9;
}

.header-logo img {
    height: 75px;
}

.menu-desktop {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu-desktop ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: "Questrial", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-desktop ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "Questrial", sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#hero-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 1; 
}

.hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-logo {
    height: 120px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 6px white) drop-shadow(0 0 15px white);
}

.hero-content h1,
.hero-content h3 {
    margin: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.hero-content h1 {
    font-size: 4rem;
    font-family: "Josefin Sans", sans-serif;
}

.hero-content h3 {
    font-size: 1.5rem;
    font-family: "Questrial", sans-serif;
}

.video-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    z-index: 1;
}

.video-gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #ffffff);
}

.footer-atrian {
    background: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    padding: 40px 5%;
    font-family: "Questrial", sans-serif;
    color: #333;
    border-top: 1px solid #e0e0e0;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 28px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    height: 50px;
    margin-bottom: 10px;
}

.footer-contact p {
    margin: 0;
    font-size: 1rem;
}

.footer-contact a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-contact a:hover {
    color: #007BFF;
    transform: scale(1.05);
}

.footer-social a img {
    height: 30px;
    margin: 10px 10px;
    transition: transform 0.3s ease;
}

.footer-social a:hover img {
    transform: scale(1.2);
}

.footer-social a:hover {
    opacity: 0.8;
}

.footer-copy {
    text-align: center;
    font-size: 0.8rem;
    color: #888;
}

.ladoalado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.ladoalado img {
    height: 80px;
    margin-left: 5%;
}

#dynamic-word {
    color: #00BFFF;
    background: linear-gradient(90deg, #00BFFF, #00FF7F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 3rem;
    transition: opacity 0.5s ease-in-out;
}

#quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.dynamic-title {
    text-align: center;
    margin-bottom: 20px;
}

.quem-somos-text {
    flex: 1;
    max-width: 550px;
}

.quem-somos-video {
    flex: 1;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    position: relative; 
    height: 90%;
}

.quem-somos-video video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    filter: brightness(0.5); 
}

#valores {
    text-align: center; 
    padding: 40px 20px; 
    background-color: #f4f4f4;
    background: linear-gradient(to bottom, white, #f4f4f4);
}

.josefin-sans {
    font-size: 2rem; 
    margin-bottom: 20px;
}

.valores-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.valor-box {
    position: relative;
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px; 
    width: 150px;
    text-align: center; 
    transition: transform 0.3s ease; 
    font-family: "Questrial", sans-serif;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.valor-box:hover {
    transform: scale(1.05);
}

.valor-box .border-line {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 2;
}

.valor-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
    background: none;
    animation: none;
    mask-image: radial-gradient(white 99%, transparent 100%);
    -webkit-mask-image: radial-gradient(white 99%, transparent 100%);
}

.valor-box:hover::before {
    animation: draw-border 0.7s linear forwards;
    border: #08d3c9 solid 2px;
}

@keyframes draw-border {
    0% {
        border-width: 2px;
        clip-path: inset(100% 0 0 0 round 10px);
    }
    25% {
        clip-path: inset(0 0 0 100% round 10px);
    }
    50% {
        clip-path: inset(0 100% 0 0 round 10px);
    }
    75% {
        clip-path: inset(0 0 100% 0 round 10px);
    }
    100% {
        clip-path: inset(0 0 0 0 round 10px);
    }
}

.valor-icon {
    width: 30px; 
    height: 30px; 
    object-fit: contain; 
    margin-bottom: 10px; 
}


.constellation-animation {
    position: absolute; 
    top: 50%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
}

.constellation-animation line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 1s ease;
    opacity: 0;
  }
  
  @keyframes glow {
    0%, 100% { filter: drop-shadow(0 0 5px white); }
    50% { filter: drop-shadow(0 0 15px white); }
  }
  
  .constellation-animation circle {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes connect {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes glow {
    0%, 100% { filter: drop-shadow(0 0 5px white); }
    50% { filter: drop-shadow(0 0 15px white); }
}

#dinamica {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 3rem;
    animation: fadeWord;
    text-align: center;
    margin-bottom: 35px;
}

@keyframes fadeWord {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-20%);
    }
}

.services-section {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #f5f5f5 0%, white 100%);
  }
  
  .services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  
  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 100px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform-origin: center center;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .flip-card-front {
    background: linear-gradient(135deg, #03766f, #20dbdb);
    color: white;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    transform: rotateY(0deg);
  }
  
  .flip-card-back {
    background-color: #f9f9f9;
    color: #333;
    transform: rotateY(180deg);
    font-family: 'Questrial', sans-serif;
  }
  

  #projetos {
    padding: 60px 20px 20px 20px;
    text-align: center;
    background: linear-gradient(to top, #212121 0%
    , rgb(125, 125, 125) 50%
    , rgb(255, 254, 254) 100%);
  }

  #projetos h2 {
    position: relative;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  #projetos h2::before,
  #projetos h2::after {
    content: "";
    display: inline-block;
    width: 250px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.687);
    vertical-align: middle;
    margin: 0 20px;
  }
  

  .carrossel {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    
  }
  
  .carrossel-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    padding-top: 5%;
    
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .card-projeto {
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    width: 320px; 
    flex: none;
    padding: 20px; 
    text-align: center;
    margin-right: 30px; 
    transition: transform 0.3s ease;
  }
  
  .card-projeto img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px; 
  }
  
  .card-projeto h4 {
    font-size: 1.2rem;
  }
  
  .card-projeto p {
    font-size: 1rem;
  }
  

  #feedbacks {
    padding: 60px 20px;
    background: linear-gradient(to bottom, #212121, #000000);
    text-align: center;
    color: whitesmoke;
  }

  .feedback-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .feedback-box {
    background: rgb(63, 63, 63);
    border-radius: 15px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: "Questrial", sans-serif;
  }

  .stars {
    font-size: 1.5rem;
    color: #FFD700;
    animation: sparkle 2s infinite ease-in-out;
  }

  @keyframes sparkle {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
  }

  .fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .fade-up.appear {
    opacity: 1;
    transform: translateY(0);
  }

  .fade-down {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .fade-down.appear {
    opacity: 1;
    transform: translateY(0);
  }  
  
  .fade-left {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .fade-left.appear {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fade-right {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .fade-right.appear {
    opacity: 1;
    transform: translateX(0);
  }
  

@media (max-width: 950px) {
    .ladoalado {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer-social {
        margin: auto;
        text-align: center;
        padding-right: 0;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #dynamic-word, #dinamica {
        font-size: 2.3rem;
    }

    #dinamica {
        margin-bottom: 0px;
    }

    .quem-somos-text {
        padding-top: 50px;
    }

    .quem-somos-video {
        height: 300px;
        margin: auto;
    }

    .constellation-animation {
        position: absolute; 
        top: 55%; 
        left: 48%; 
        transform: translate(-50%, -50%); 
        z-index: 2; 
    }
    #projetos h2::before,
  #projetos h2::after {
   display: none;
  }
}
